version: '3.8'
services:
  registry:
    image: registry:2
    restart: always
    ports:
      - "5000:5000"
    environment:
      REGISTRY_AUTH: htpasswd
      REGISTRY_AUTH_HTPASSWD_REALM: Registry Realm
      REGISTRY_AUTH_HTPASSWD_PATH: /auth/registry.password
      REGISTRY_STORAGE_DELETE_ENABLED: "true"
    volumes:
      - ./data:/var/lib/registry
      - ./auth:/auth:ro
  ui:
    image: joxit/docker-registry-ui:main
    container_name: secure-registry-ui
    restart: unless-stopped
    environment:
      SINGLE_REGISTRY: "true"
      REGISTRY_TITLE: Secure Docker Registry
      REGISTRY_URL: https://{{ public_ip }}:443
      DELETE_IMAGES: "true"
      SHOW_CONTENT_DIGEST: "true"
    depends_on:
      - registry
  nginx:
    image: nginx:alpine
    container_name: secure-registry-nginx
    restart: unless-stopped
    depends_on:
      - registry
      - ui
    ports:
      - "443:443"
    volumes:
      - ./nginx/nginx.conf.j2:/etc/nginx/nginx.conf.j2:ro
      - ./ssl/registry.key:/etc/nginx/ssl/registry.key:ro
      - ./ssl/registry.crt:/etc/nginx/ssl/registry.crt:ro
