# -------------------------------------
# Required GitHub Secrets
# -------------------------------------

# AWS credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Private registry credentials
REGISTRY_USERNAME=
REGISTRY_PASSWORD=

# Required registry endpoint
REGISTRY_ENDPOINT=

# Database secrets
MYSQL_ROOT_PASSWORD=
MYSQL_DB=