name: Build and Test React application

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build_test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node_version: [20.x, 21.x]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node_version }}
      - name: Debug
        run: |
          pwd
          ls
      - name: npm ci and test
        working-directory: my-app
        run: |
          npm ci
          nom run build --if-present
          npm test
